{
  "tabWidth": 4,
  "printWidth": 100,
  "semi": false,
  "jsxBracketSameLine": false,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "none"
}