:root {
  --color-primary-5: rgba(39, 39, 42, 1);
  --color-primary-10: rgba(32, 33, 36, 1);
  --color-primary-10-transparent-60: rgba(32, 33, 36, 0.60);
  --color-primary-15: rgba(65, 65, 68, 1);
  --color-primary-20: rgba(113, 113, 122, 1);
  --color-secondary-5: rgba(255, 255, 255, 1);
  --color-secondary-10: rgba(161, 161, 170, 1);
}
