.notification {
  position: fixed;
  top: 15px;
  right: 5px;
  transition: 300ms transform ease-in-out, 200ms background ease-in-out;
  width: 300px;
  background: var(--color-primary-15);
  color: var(--color-secondary-5);
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background: var(--color-primary-20);
  }

  &.hidden {
    transform: translateX(120%);
  }
}